LOOPS
•	There may be a situation when you need to execute a block of code several times, to iterate over items or elements in a given sequence like strings, lists, tuples, or dictionaries.
•	In general, statements are executed sequentially: the first statement in the function is executed first, followed by the second, and so on.

Iterations or loops – repeated actions

•	For Loop: Iterate for all items in iterating sequence.
•	While loop: until the condition satisfies.

FOR LOOP:
•	For loop in Python is used to iterate over a sequence (lists, tuples, strings) or other iterable objects.
•	The loop continues until we reach the last item in the sequence. 
•	The for loop body is separated from the rest of the code using indentation.
•	Syntax: 
For elements in sequence:
	Body of for
•	Here, the element is the variable that takes the item's value inside the sequence on each iteration.
•	The loop continues until all items are completed in the sequence.

o	Nested for loop:
o	Loops termination
o	Break
o	Continue
o	For loop with else

In [1]:
i=1
j=i+5
k=j+10
print(i,j,k)

i=2
j=i+5
k=j+10
print(i,j,k)

i=3
j=i+5
k=j+10
print(i,j,k)

1 6 16
2 7 17
3 8 18

In [2]:
for i in range(1,4):
    j=i+5
    k=j+10
    print(i,j,k)

1 6 16
2 7 17
3 8 18

In [3]:
for i in range(1,4):
    j=i+5
    k=j+10
    print(i,j,k)
print("Ayesha")

1 6 16
2 7 17
3 8 18
Ayesha

In [4]:
for i in range(1,4):
    j=i+5
    k=j+10
print(i,j,k)

3 8 18

print all the numbers between 10 and 50(both inclusive)

In [5]:
for i in range(1,51):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

print even numbers in descending order from 1 to 100

In [9]:
for i in range(100,1,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [7]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
for i in range(1,51):
    print(i,end="@")

1@2@3@4@5@6@7@8@9@10@11@12@13@14@15@16@17@18@19@20@21@22@23@24@25@26@27@28@29@30@31@32@33@34@35@36@37@38@39@40@41@42@43@44@45@46@47@48@49@50@

In [10]:
for i in range(100,1,-3):
    print(i,end=" ")

100 97 94 91 88 85 82 79 76 73 70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13 10 7 4

In [11]:
start=(int(input("Enter starting Number: ")))
end=(int(input("Enter ending Number: ")))
for i in range(start, end+1):
    if i%2==0:
        print(i)
# even numbers are considered

Enter starting Number: 2
Enter ending Number: 20
2
4
6
8
10
12
14
16
18
20

In [12]:
start=(int(input("Enter starting Number: ")))
end=(int(input("Enter ending Number: ")))
for i in range(start, end+1, 2):
    print(i)

Enter starting Number: 2
Enter ending Number: 20
2
4
6
8
10
12
14
16
18
20

In [13]:
for a in range(1,101):
    if a%5==0 and a%7==0:
        print(a)

35
70

In [14]:
ash=[1,2,3,4,5]
for i in ash:
    print(i)

1
2
3
4
5

In [15]:
seq=[1,2,3,4,5]
for i in seq:
    j=i+10
    print(j)

11
12
13
14
15

In [16]:
seq=[1,2,3,4,5]
for i in seq:
    j=i+10
    print(i, j)

1 11
2 12
3 13
4 14
5 15

In [17]:
seq=[1,2,3,4,5]
for i in seq:
    j=i+10
    print(i, j,'YOLO')

1 11 YOLO
2 12 YOLO
3 13 YOLO
4 14 YOLO
5 15 YOLO

In [18]:
seq=[1,2,3,4,5]
for i in seq:
    j=i+10
print(i, j)

5 15

In [19]:
ash=[1,2,3,4,5]
for item in ash:
    print('ash')

ash
ash
ash
ash
ash

In [20]:
items=['item1','item2','item3','item4']
for i in range(len(items)):
    print(items[i],'is at index',i)

item1 is at index 0
item2 is at index 1
item3 is at index 2
item4 is at index 3

In [21]:
i=[3,34,54,6,4]
sum=0
for i in i:
    sum=sum+i
print(sum)

101

In [22]:
seq=[18,24,36,4,52]
sum=0
for item in seq:
    sum=sum+item
print(sum)

134

In [23]:
yolo=[1,2,3,4,5]
sum=0
for i in yolo:
    sum=sum+item
print(sum)

260

In [24]:
yolo=[1,2,3,4,5]
sum=0
for i in yolo:
    sum=sum+item
    print(i, sum)

1 52
2 104
3 156
4 208
5 260

In [25]:
h=[1,2,3,4]
p=1
for i in h:
    p=p*i
print(p)

24

In [26]:
h=[1,2,3,4]
p=1
for i in h:
    p=p*i
    print(p)

1
2
6
24

In [27]:
lb=int(input('Enter lower bound values: '))
ub=int(input('Enter upper bound values: '))
s=0
print('initial sum:',s)
for i in range(lb,ub+1):
    if (i%2==0):
        s=s+i
        print('after adding',i,'the sum :', s)
print('\nsum is', s)

Enter lower bound values: 2
Enter upper bound values: 20
initial sum: 0
after adding 2 the sum : 2
after adding 4 the sum : 6
after adding 6 the sum : 12
after adding 8 the sum : 20
after adding 10 the sum : 30
after adding 12 the sum : 42
after adding 14 the sum : 56
after adding 16 the sum : 72
after adding 18 the sum : 90
after adding 20 the sum : 110

sum is 110

In [28]:
a=int(input('Enter multiplication table: '))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

Enter multiplication table: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [29]:
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print('factorial of',a,'is: ', fact)

23
factorial of 23 is:  25852016738884976640000

In [30]:
a=int(input())
import math
math.factorial(a)

3

6

In [31]:
for i in range(3):
    for j in range(2):
        print('i=',i,'j=',j)

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

In [32]:
for i in range(3):
    for j in range(2):
        print('i=',i,'j=',j)

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

In [33]:
for i in range(2):
    for j in range(2):
        print('ds')

ds
ds
ds
ds

In [34]:
numbers=[1,2,3,4]
for i in numbers:
    if i==3:
        break
print(i)

3

In [35]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        print(num)
        continue

2
4

In [36]:
numbers=[1, 2, 3, 4]
for items in numbers:
    print(item)
    if item==5:
        break
else:
    print('no items left in the list')

52
52
52
52
no items left in the list

In [37]:
numbers=[1, 2, 3, 4]
for items in numbers:
    print(item)
    if item==4:
        break
else:
    print('no items left in the list')

52
52
52
52
no items left in the list